body,
html {
  margin:0;
  padding:0;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#E9FFFF), to(#000000));
  background: -moz-linear-gradient(top,  #E9FFFF, #000000) no-repeat;
}

#wrap {
  width:750px;
  margin:0 auto;
}

#header {
  height: 100px;
}
#nav {
  background:#c99;
}

#sidebar {
  background:#c9c;
}
#footer {
  clear: both;
  background:#cc9;
}

#main {
  float: left;
  width: 500px;
  font-family: Helvetica, Monaco;
  font-size: 24;
}

#sidebar {
  float:right;
  width:250px;
  background:#c9c;
}
